<div class="contact">
    <h2>Contact Us!</h2>
    <p>We’re here to help and answer any questions you may have! 
        Please feel free to reach out to us through any of the methods below.
    </p>
    <h3>Our Contact Information:</h3>
        <div class="email-contact">
            <h4 class="contact-h4">Email: </h4>
            <a class="email" href="">larisaonciu97@gmail.com</a>
        </div>
        <div class="phone-contact">
            <h4 class="contact-h4">Phone: </h4>
            <p>+46789235</p>
        </div>
        <div class="adress-contact">
            <h4 class="contact-h4">Adress: </h4>
            <p>Margaretaplan 2, Kalmar, Sweden</p>
        </div>
</div>
