.contact {
    padding: 50px;
}

.email-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.adress-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-h4{
    margin-right: 10px;
}

