.detailed-movies {
    background-image: url(../../../assets/bk2.jpg);
    padding: 10px;
}

.margin-title{
    margin-left: 30px;
    color: white;
}


.details {
    margin-left: 30px;
    background-color: rgb(46, 44, 44);
    padding: 10px;
    color: white;
}

.plot {
    font-size: 20px;
}

.cast{
    text-decoration: underline;
    font-size: 18px ;
    margin-bottom: 1px;
}

.director {
    text-decoration: underline;
    font-size: 18px ;
    margin-bottom: 1px;
}

.writers {
    text-decoration: underline;
    font-size: 18px ;
    margin-bottom: 1px;
}

.award {
    text-decoration: underline;
    font-size: 18px ;
    margin-bottom: 1px;
}

.box-office{
    text-decoration: underline;
    font-size: 18px ;
    margin-bottom: 1px;
}

.rating {
    text-decoration: underline;
    font-size: 18px ;
    margin-bottom: 1px;
}